body {
  color: #212121;
  font: 400 16px/1.5 Roboto,Arial,sans-serif;
  word-wrap: break-word;
  background-color: #5B9DD9; /* same as: -webkit-focus-ring-color */
}

#search-input {
  position: relative;
  background-color: #ffffff;
  padding: 0.15em;
}
#search-input > #search-pagination {
  font-size: 1.1em;
  height: 2.2em;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
}
#search-input > #search-pagination > #prev-page,
#search-input > #search-pagination > #next-page {
  position: absolute;
  z-index: 1;
  width: 1.1em;
  height: 1.1em;
  top: 0.4em;
  bottom: 0.4em;

  background-color: #eee;
  cursor: pointer;
  text-align: center;
  line-height: 1.1em;

  box-sizing: border-box;
  border: 1px solid #212121;
}
#search-input > #search-pagination > #prev-page {
  right: 1.5em;
}
#search-input > #search-pagination > #next-page {
  right: 0.2em;
}
#search-input > #search-pagination > #prev-page.disabled,
#search-input > #search-pagination > #next-page.disabled {
  opacity: 0.15;
  cursor: not-allowed;
}

#search-input > div.awesomplete {
  display: block;
}
#search-input > div.awesomplete > input {
  border-width: 0.15em;
  box-sizing: border-box;
  font-size: 1.1em;
  padding: 0.4em;
  width: 100%;
}
#search-input > div.awesomplete > input:focus {
  outline-style: none;
  border-color: #5B9DD9; /* same as: -webkit-focus-ring-color */
}

#search-input > div.awesomplete > ul > li {
  border-bottom: 1px solid #212121;
}
#search-input > div.awesomplete > ul > li:last-child {
  border-bottom-style: none;
}
#search-input > div.awesomplete > ul > li > div.search-result > img.package-icon {
  display: block;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 2em;
}
#search-input > div.awesomplete > ul > li > div.search-result > div.package-info > h4 {
  font-size: 1.0em;
  margin: 10px 0;
}
#search-input > div.awesomplete > ul > li > div.search-result > div.package-info > div.package-desc {
  font-size: 0.85em;
}
